@inherits InfoEditViewModel

<MatDialog @bind-IsOpen="IsInfoOpen" CanBeClosed="false">
    <MatDialogTitle>
        <span style="top: 20px;">Информация</span>&nbsp;
        <div class="btn-group" style="padding-left: 450px; top: -40px;">
            @*@if (ViewModel1.IsConcurency)
            {
            <span class="btn btn-warning" @onclick="@(() => Reload.InvokeAsync(ViewModel1.Item))">Reset</span>
            }
            else
            {
            <input type="submit" value="Сохранить" class="btn-dark" style="float:right; border-radius: 8px; font-size: 15px;" />
            }*@
            <input type="submit" value="Сохранить" class="btn-dark" style="float:right; border-radius: 8px; font-size: 15px;" @onclick="@(e => {IsInfoOpen = false; Close.InvokeAsync();})" />
            <span class="btn btn-close" style="left: 20px" @onclick="@(e => {IsInfoOpen = false; Close.InvokeAsync();})"></span>
        </div>
    </MatDialogTitle>
    <MatDialogContent style="padding-top: 10px; width: 800px;">
        <div>
            <table class="table table-sm" style="border: 1px solid;">
                <thead>
                    <tr>
                        <th>
                            Имя
                        </th>
                        <th>
                            Отчество
                        </th>
                        <th>
                            Фамилия
                        </th>
                        <th>
                            Дата Рождения
                        </th>
                        <th>
                            Местоположение
                        </th>
                        <th>
                            Эл.адрес
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in AddModel)
                    {
                        <tr>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.MiddleName
                            </td>
                            <td>
                                @item.LastName
                            </td>
                            <td>
                                @item.Birth.Value.ToString("d");
                            </td>
                            <td>
                                @item.Location
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                <MatButton Raised="true" @onclick="(() => DeleteItem(item))" Style="background-color: black">-</MatButton>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <table class="table table-sm" style="border: 1px solid;">
                <thead>
                    <tr>
                        <th>
                            Имя
                        </th>
                        <th>
                            Отчество
                        </th>
                        <th>
                            Фамилия
                        </th>
                        <th>
                            Дата Рождения
                        </th>
                        <th>
                            Местоположение
                        </th>
                        <th>
                            Эл.адрес
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.MiddleName
                            </td>
                            <td>
                                @item.LastName
                            </td>
                            <td>
                                @item.Birth.Value.ToString("d");
                            </td>
                            <td>
                                @item.Location
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                <MatButton Raised="true" @onclick="(() => AddItem(item))" Style="background-color: black">+</MatButton>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </MatDialogContent>
</MatDialog>